.techno-list {
    margin: 10px;
}
.techno-color-1 {
    background-color: #304380;
    color: #e1e1e1;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .techno-color-2 {
    background-color: #dbee7d;
    color: #222;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }